<!DOCTYPE html>
<html>
<head>
    <link href="{{ STATIC_URL }}css/normalize.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/foundation.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet" type="text/css">
    <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
</head>
<body>
    <header>
        <div class="wrapper">
            <nav class="top-bar">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="/">Yakster</a><h1>
                    </li>
                </ul>
                <section class="top-bar-section">
                    <ul class="right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/users/">Users</a></li>
                        <li><a href="/posts">Latest posts</a></li>
                        {% block login %}
                        <li><form action="/logout">
                            <input type="submit" class="button" value="Log Out">
                        </form></li>
                        {% endblock %}
                    </ul>
                </section>
            </nav>
        </div>
    </header>
    <div id="content">
        <div class="wrapper">
            {% block flash %}
            {% if auth_form.non_field_errors or user_form.non_field_errors or post_form.errors %}
            <div class="flash error">
                {{ auth_form.non_field_errors }}
                {{ user_form.non_field_errors }}
                {{ post_form.content.errors }}
            </div>
            {% endif %}
            {% if notice %}
            <div class="flash notice">
                {{ notice }}
            </div>
            {% endif %}
            {% endblock %}

            {% block content %}

            {% endblock %}
        </div>
    </div>
    <!-- Check for Zepto support, load jQuery if necessary -->
    <script>
      document.write("<script src={{ STATIC_URL }}js/vendor/"
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
    </script>

    <script src="{{ STATIC_URL }}js/foundation/foundation.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.reveal.js"></script>

    <script>
        $(document).foundation();
    </script>
</body>
</html>