{% extends "base.html" %}

{% block content %}
    <h1>All Posts</h1>
    {% for post in posts %}
          <a href="/users/{{ post.user.username }}">
            <img class="avatar" src="{{ post.user.profile.gravatar_url }}">
            {{ post.user.first_name }}
        </a>
        @{{ post.user.username }}
        {{ post.creation_date|timesince }}
        <h3>{{ post.title}}</h3>
        <a href="/users/{{ post.user.username }}/{{ post.id }}">
            <p>Read</p>
        </a>
    {% endfor %}
{% endblock %}