{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ user.first_name }}'s Profile</h1>
        <a href="/users/{{ user.username }}">
            <img class="avatar" src="{{ user.profile.gravatar_url }}">
            <span class="name">{{ user.first_name }}</span>
        </a>
            @{{ user.username }}
        <p>{{ posts.count }} Posts</p>

    <h1>{{ user.first_name }}'s Posts</h1>
    {% for post in posts %}
        <a href="/users/{{ user.username }}">
            <img class="avatar" src="{{ user.profile.gravatar_url }}">
            <span class="name">{{ post.user.first_name }}</span>
        </a>
        @{{ post.user.username }}
        <span class="time">{{ post.creation_date|timesince }}</span>
        <h3>{{ post.title }}</h3>
        <p>{{ ribbit.body }}</p>
    {% endfor %}
{% endblock %}
